# Byte-compiled
__pycache__/

# dataset
input/

# baseline
baseline_code/

# output
model/
runs/
output/

# wandb
wandb/

# input 심볼릭 링크로 현재 디렉토리에 불러와서 사용
input

# git clone 
nvidia/

# personal
personal/

# weights
weights/
*.pth

# system
.ipynb_*/

#result
*.out

example.ipynb

*.ipynb

*.pickle

