# .ipybb checkpoints
**/.ipynb_checkpoints/

# pretrained model
*.pth

# Byte-compiled
__pycache__/

# dataset
input/

# baseline
baseline_code/

# output
model/
output/

# wandb
wandb/

# input 심볼릭 링크로 현재 디렉토리에 불러와서 사용
input

*.out

example.ipynb

runs/

personal/

nvidia/

master_cp.ipynb

*.pickle